.side__content {
    @extend %side-content;
    padding: rem-calc(228) 0 rem-calc(223) 0;
    
    .logo {
        padding: rem-calc(34) rem-calc(24);
        font-family: $font-barlow;
        @include setFlex(flex, center, initial);
        gap: rem-calc(8);
        position: absolute;
        width: 100%;
        top: 0;
        h2 {
            text-transform: uppercase;
            font-size: rem-calc(50);
            font-weight: 700;
            line-height: 80%;
        }

        .content {
            position: relative;
            top: rem-calc(3);
            display: flex;
            flex-direction: column;
            gap: 3px;
        }

        span {
            line-height: 100%;
            text-transform: capitalize;
            font-size: rem-calc(10);
        }
    }

    .carousel {
        height: rem-calc(115);
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: rem-calc(112);
        &__item{
            height: inherit;
            position: relative;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0.3;
            }

            .grp {
                position: absolute;
                left: rem-calc(40);
                top: 50%;
                transform: translate(0, -50%);
                @include setFlex(flex, center, space-between);
                gap: rem-calc(65);
            }

            .carousel__dots {
                margin-bottom: rem-calc(8);
                display: flex;
                gap: rem-calc(6);
                .dot {
                    display: block;
                    width: rem-calc(6);
                    height: rem-calc(6);
                    border-radius: 50%;
                    background-color: $color-off-white;
                    opacity: 0.4;

                    &.active {
                        opacity: 1;
                    }
                }
            }

            &--title {
                font-size: rem-calc(18);
                font-weight: 700;
            }

            &--subtitle {
                font-size: rem-calc(10);
                text-transform: uppercase;
                opacity: 0.5;
            }

            a {
                opacity: 0.6;
            }
        }
    }

    .side__nav {
        position: relative;
        height: 100%;

        .side__menu {
            padding: rem-calc(20) 0;
        }

        .menu__item {
            padding: rem-calc(16) 0;
            border-left: 2px solid transparent;
            transition: all 250ms ease-in-out;
            a {
                display: block;
                padding: 0 rem-calc(24);
                @include setFlex(flex, center, initial);
                gap: rem-calc(10);
                font-size: rem-calc(16);
                font-weight: 700;
                opacity: 0.7;
                transition: all 250ms ease-in-out;

                ion-icon {
                    font-size: rem-calc(12);
                }

                &:hover {
                    opacity: 1;
                }
            }

            &:hover {
                border-left: 2px solid $color-blue-02;
            }

            &--has-submenu {
                .sub__menu {
                    display: none;
                }
            }

            &.active {
                border-left: 2px solid $color-blue-02;
                >a {
                    opacity: 1;
                    ion-icon {
                        transform: rotate(90deg);
                    }
                }

                .sub__menu {
                    display: block
                }
            }
        }

        .sub__menu {
            padding: rem-calc(5) 0;
            margin: 0 rem-calc(24) 0 rem-calc(48);
            &--item {
                margin-top: rem-calc(14);
                a {
                    padding: 0;
                    font-size: rem-calc(13);
                    font-weight: 500;
                    justify-content: space-between;
                }
            }
        }

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 95%;
            height: 40px;
            z-index: 2;
        }

        &::before {
            top: 0;
            background: linear-gradient(to bottom, $color-blue-01 0%, rgba($color-blue-01, .5) 50%, transparent);
        }
        &::after {
            bottom: 0;
            background: linear-gradient(to top, $color-blue-01 0%, rgba($color-blue-01, .5) 50%, transparent);
        }
    }

    .bottom__sheet {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid rgba($color-white, .2);
        ul {
            @include setFlex(flex, center, space-between);
            padding: 0 rem-calc(24);
        }

        &--menu {
            border-bottom: 1px solid rgba($color-white, .2);
            a {
                display: block;
                padding: rem-calc(20) 0;
                text-transform: capitalize;
                font-size: rem-calc(14);
                font-weight: 600;
                opacity: .6;
                transition: all 250ms ease-in-out;
                
                &:hover {
                    opacity: 1;
                }
            }
        }
        &--copyright {
            padding: rem-calc(24);
            font-size: rem-calc(11);
            font-weight: 500;
            opacity: 0.5;
            p {
                text-transform: capitalize;
                margin-bottom: rem-calc(6);
            }

            .content {
                span {
                    display: inline-block;
                    position: relative;
                    &:last-child {
                        margin-left: rem-calc(6);
                        padding-left: rem-calc(12);
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translate(0, -50%);
                            width: rem-calc(3px);
                            height: rem-calc(3px);
                            border-radius: 50%;
                            background-color: $color-white;
                        }
                    }
                }
            }
        }
        &--social-links {
            margin-top: rem-calc(6);
            padding-bottom: rem-calc(24);
            ul {
                justify-content: flex-start;
                gap: rem-calc(22);
            }

            a {
                font-size: rem-calc(22);
                opacity: .3;
                transition: all 250ms ease-in-out;
                
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}