.site-container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(rem-calc(320), rem-calc(320)) minmax(0, 100%);

}

.main-content {
    height: inherit;
    background-color: $color-off-white;
}

// zeemzfx@support