.site-container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(0, rem-calc(280)) minmax(0, 100%);

}

.main-content {
    height: inherit;
    background-color: $color-off-white;
}