// Colors
$color-black: #252525;
$color-white: #fff;
$color-off-white: #f8f8f8;
$color-gray: #ccc;
$color-blue-00: #1b438a;
$color-blue-01: #2f5ba8;
$color-blue-02: #3cbbee;
$color-success: #4CAF50;
$color-error: #e55039;

// Font Family Declarations
$font-raleway: 'Raleway', sans-serif;
$font-barlow: 'Barlow Condensed', sans-serif;
