*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	font-size: 16px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	@media screen and (max-width: $mobile) {
		font-size: 14px;
	}
}

body {
	font-family: $font-raleway;
	overflow-x: hidden;
	color: $color-black;
	line-height: 1.4;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	outline: none;
}

img {
	max-width: 100%;
}

.scroll-wrap {
    height: 100%;
    overflow: auto;
}

.main__content {
    height: 100vh;
    background: $color-off-white;
    margin-left: rem-calc(320);
}